@use "reset";
@use "fonts";
@use "mixins" as *;

$font-family: "Roboto", sans-serif;
$second-family: "Montserrat", sans-serif;

$black: #000000;
$white: #ffffff;
$blue: #3d8eda;
$grey: #929292;
$bgcolor: #fafafa;

body {
    font-family: $font-family;
    font-weight: 500;
    color: $black;
    background-color: $bgcolor;
}

.container {
    position: relative;
    max-width: $desktop;
    padding: 0 300px;
    margin: 0 auto;

    @media screen and (min-width: $tablet) and (max-width: $desktop) {
        padding: 0 100px;
    }

    @media screen and (max-width: $tablet) {
        padding: 0 20px;
        overflow-x: clip;
    }
}

.header {
    box-shadow:
        0 4px 24px 0 rgba($black, 0.12),
        inset 0 12px 24px 0 rgba($black, 0.12);
    background: rgba($white, 0.67);

    &__wrapper {
        max-width: 614px;
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 90px;

        @media screen and (max-width: $tablet) {
            flex-wrap: wrap;
        }
    }

    &__logo {
        padding-top: 6px;

        &-icon {
            width: 138px;
            height: 138px;
        }
    }

    &__info {
        flex-grow: 1;
        padding: 33px 0;

        &-top {
            display: flex;
            align-items: center;
            gap: 16px;
            margin-bottom: 15px;

            @media screen and (max-width: $tablet) {
                flex-wrap: wrap;
            }
        }

        &-logo {
            font-family: $second-family;
            font-size: 24px;
            letter-spacing: -0.01em;
        }

        &-label {
            font-weight: 400;
            font-size: 12px;
            letter-spacing: -0.03em;
            color: $blue;
            border: 1px solid $blue;
            border-radius: 2px;
            padding: 6px 12px;
        }
    }

    &__stats {
        display: flex;
        align-items: center;
        gap: 28px;
        margin-bottom: 20px;

        @media screen and (max-width: $tablet) {
            gap: 20px;
        }

        &-item {
            font-weight: 400;
            font-size: 14px;
        }
    }

    &__dates {
        display: flex;
        align-items: center;
        gap: 11px;
        
        @media screen and (max-width: $tablet) {
            flex-direction: column;
        }

        &-text {
            font-weight: 400;
        }

        &-inputs {
            display: flex;
            align-items: center;
            gap: 22px;

            @media screen and (max-width: $tablet) {
                flex-direction: column;
            }
        }

        &-input {
            width: 162px;
            height: 28px;
            font-weight: 400;
            font-size: 13px;
            color: #636264;
            outline: none;
            border: 1px solid #dedede;
            border-radius: 4px;
            transition: border-color 0.3s ease-in-out;
            padding: 0 8px;

            &:focus {
                border-color: $blue;
            }
        }
    }

    .decor-1 {
        position: absolute;
        top: 0;
        left: -50px;
        z-index: -1;
        width: 630px;
        height: 398px;

        &__img-1 {
            width: 100%;
            height: 100%;
        }
    }
}

.main {
    position: relative;
    overflow-x: hidden;
}

.posts {
    padding: 18px 0 61px;

    &__actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 21px;
        margin-bottom: 23px;
    }

    &__actions-btn--active {
        .posts__actions-icon {
            fill: $blue;
        }
    }

    &__actions-icon {
        width: 22px;
        height: 22px;
        fill: #c8c7c7;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 33px;

        &--alt {
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 16px;

            .post {
                flex-basis: calc((100% - 24px) / 4);
                flex-direction: column;
                padding-right: 0;

                @media screen and (min-width: $tablet) and (max-width: $desktop) {
                    flex-basis: calc((100% - 16px) / 3);
                }

                @media screen and (max-width: $tablet) {
                    flex-basis: 100%;
                }

                &__img {
                    width: 203px;
                    height: 203px;

                    @media screen and (min-width: $tablet) and (max-width: $desktop) {
                        width: 100%;
                        height: 100%;
                    }

                    @media screen and (max-width: $tablet) {
                        width: 100%;
                        height: 100%;
                    }
                }

                &__info-wrapper {
                    width: 100%;
                    margin: 0;
                    gap: 0;
                    padding: 12px 12px 0 12px;
                    margin-bottom: 24px;
                }

                &__stats {
                    flex-direction: column;
                    gap: 6px;
                    align-items: start;
                }

                &__info--last {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row;
                    width: 100%;
                    padding: 0 12px 18px 12px;

                    .post__date-text {
                        font-size: 14px;
                    }

                    .post__date {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    &__btn-wrapper {
        text-align: center;
    }

    &__btn {
        font-size: 11px;
        letter-spacing: -0.03em;
        color: $grey;
        border: 1px solid $grey;
        border-radius: 14px;
        transition:
            background-color 0.3s ease-in-out,
            color 0.3s ease-in-out,
            border-color 0.3s ease-in-out;
        padding: 8px 26px;

        &:is(:hover, :focus) {
            background-color: $blue;
            color: $white;
            border-color: $blue;
        }
    }
}

.post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $white;
    padding-right: 79px;

    &__img {
        width: 86px;
        height: 86px;
        object-fit: cover;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 7px;

        &-wrapper {
            margin-right: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 160px;
            margin-left: 30px;

            @media screen and (min-width: $tablet) and (max-width: $desktop) {
                gap: 50px;
            }
        }
    }

    &__date {
        display: inline-block;
        font-size: 16px;
    }

    &__stats {
        display: flex;
        align-items: center;
        gap: 18px;
    }

    &__stats-item {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    &__stats-icon {
        width: 18px;
        height: 18px;
        fill: $black;
    }

    &__stats-count {
        font-size: 14px;
    }
}

.decor-2 {
    position: absolute;
    bottom: 42px;
    right: -105px;
    z-index: -1;
    width: 315px;
    height: 386px;

    &__img-1 {
        width: 100%;
        height: 100%;
    }
}
